<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>

    <add key="hostname" value="."/>
    
    <add key="db" value="Db_Hrm"/>

    <add key="pass" value="123456"/>
    
    <add key="conString" value="Data Source={0};Initial Catalog={1};Persist Security Info=True;User ID=sa;Password={2}"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>